html {
   background-color: black;
}

h1 {
   font-family: 'PT Sans Narrow', sans-serif;
   color: #897D7E;
   font-size: 80px;
   letter-spacing: 2.5rem;
}

h2 {
   font-family: 'PT Sans Narrow', sans-serif;
   color: #897D7E;
   font-size: 40px;
}

q {
   color: #BE8683;
}

div {
   color: white;
}
