html {
   background-color: black;
   margin-left: 80px;
   margin-right: 80px;
   text-align: right;
}


#header {
   font-family: 'PT Sans Narrow', sans-serif;
   color: #897D7E;
   font-size: 80px;
   letter-spacing: 2rem;
   border: solid #897D7E;
   border-left: none;
   border-right: none;
   border-width: 1px;
   text-align: right;
}

h2 {
   font-family: 'PT Sans Narrow', sans-serif;
   color: #897D7E;
   font-size: 40px;
   letter-spacing: 2rem;
   text-align: right;
}


div {
   color: #fff8f8;
   font-family: 'PT Sans Narrow', sans-serif;
}


li {
   list-style-type: none;
   counter-reset: ol-counter;
   font-size:2rem;
   padding-right: 30px;
}

span {
   color: #BE8683;
}

footer {
   font-family: 'PT Sans Narrow', sans-serif;
   font-size: 20px;
   text-align: right;
   border: solid #BE8683;
   border-left: none;
   border-right: none;
   border-bottom: none;
   border-width: 1px;
   color:#BE8683;
}


ol {
   font-size: 20px;
   text-align: right;
}


a[href] {
   text-decoration: none;
   color: #897D7E;
}

a:hover {
   color: #BE8683;
   cursor: pointer;
}
